.video-page {
  padding-top: 50px;
}

.one-page-iframe {
  width: 90%;
  height: 500px;
}

.box-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.one-page-subscribe-button {
  border-radius: 16px;
  border: none;
  background-color: black;
  color: #fff;
}

.one-page-share-button,
.one-page-download-button {
  border-radius: 16px;
  border: none;
}

.left-img img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.left-page-title {
  max-width: 320px;
  font-size: 18px;
}